
main {
  height: 100vh;

  margin: 30px 10px 0 5px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 20px; 
  flex-wrap: wrap;
}

div.box {
  width: 25vw;
  height: 80vh;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px; 

  background-color: rgba(51, 135, 172, 0.7);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 20px #05386b;

  margin-bottom: 20px;
}

div.box h1 {
  position: absolute;
  top: 20px;
  font-size: 20px;
}
div.box p {
  font-size: 12px;
  position: absolute;
  top: 60px;
}


footer {
  position: absolute;
  bottom: -40px;
}